<configuration>
    <!-- Вывод в консоль -->
    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/application.log</file> <!-- Путь к файлу -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <!-- Политика ротации -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- Формат имени архивного файла -->
            <fileNamePattern>logs/application-%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <!-- Максимальный размер одного файла -->
            <maxFileSize>10MB</maxFileSize>

            <!-- Хранить логи за последние 7 дней -->
            <maxHistory>7</maxHistory>

            <!-- Общий максимальный размер всех логов -->
            <totalSizeCap>20MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <!-- Уровень логирования -->
    <root level="DEBUG">
        <appender-ref ref="ROLLING_FILE" />
    </root>
</configuration>